<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>alipay_sc_alert</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_authcode</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_pay</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_thirdpay</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_clientinfo</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_clearcookie</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_sinasso</string>
		<key>version</key>
		<string>1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alipay_sc_exit</string>
		<key>version</key>
		<string>1</string>
	</dict>
</array>
</plist>
