<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>matchStrings</key>
		<array>
			<string>alipay://platformapi/pay</string>
			<string>alipays://platformapi/pay</string>
		</array>
		<key>replaceString</key>
		<string>alipays://platformapi/pay</string>
		<key>directlyOpen</key>
		<false/>
		<key>appendValues</key>
		<array/>
		<key>getValues</key>
		<array>
			<string>tradeNo</string>
			<string>bizType</string>
		</array>
		<key>runFunction</key>
		<string>pay</string>
	</dict>
</array>
</plist>
