<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>NSArray</string>
	<string>NSAutoreleasePool</string>
	<string>NSBundle</string>
	<string>NSByteOrder</string>
	<string>NSCalendar</string>
	<string>NSCharacterSet</string>
	<string>NSCoder</string>
	<string>NSData</string>
	<string>NSDate</string>
	<string>NSDateFormatter</string>
	<string>NSDecimal</string>
	<string>NSDecimalNumber</string>
	<string>NSDictionary</string>
	<string>NSEnumerator</string>
	<string>NSError</string>
	<string>NSException</string>
	<string>NSFileHandle</string>
	<string>NSFileManager</string>
	<string>NSFormatter</string>
	<string>NSHashTable</string>
	<string>NSHTTPCookie</string>
	<string>NSHTTPCookieStorage</string>
	<string>NSIndexPath</string>
	<string>NSIndexSet</string>
	<string>NSInvocation</string>
	<string>NSJSONSerialization</string>
	<string>NSKeyValueCoding</string>
	<string>NSKeyValueObserving</string>
	<string>NSKeyedArchiver</string>
	<string>NSLocale</string>
	<string>NSLock</string>
	<string>NSMapTable</string>
	<string>NSMethodSignature</string>
	<string>NSNotification</string>
	<string>NSNotificationQueue</string>
	<string>NSNull</string>
	<string>NSNumberFormatter</string>
	<string>NSObject</string>
	<string>NSOperation</string>
	<string>NSOrderedSet</string>
	<string>NSOrthography</string>
	<string>NSPathUtilities</string>
	<string>NSPointerArray</string>
	<string>NSPointerFunctions</string>
	<string>NSPort</string>
	<string>NSProcessInfo</string>
	<string>NSPropertyList</string>
	<string>NSProxy</string>
	<string>NSRange</string>
	<string>NSRegularExpression</string>
	<string>NSRunLoop</string>
	<string>NSScanner</string>
	<string>NSSet</string>
	<string>NSSortDescriptor</string>
	<string>NSStream</string>
	<string>NSString</string>
	<string>NSTextCheckingResult</string>
	<string>NSThread</string>
	<string>NSTimeZone</string>
	<string>NSTimer</string>
	<string>NSURL</string>
	<string>NSURLAuthenticationChallenge</string>
	<string>NSURLCache</string>
	<string>NSURLConnection</string>
	<string>NSURLCredential</string>
	<string>NSURLCredentialStorage</string>
	<string>NSURLError</string>
	<string>NSURLProtectionSpace</string>
	<string>NSURLProtocol</string>
	<string>NSURLRequest</string>
	<string>NSURLResponse</string>
	<string>NSUserDefaults</string>
	<string>NSValue</string>
	<string>NSValueTransformer</string>
	<string>NSXMLParser</string>
	<string>NSZone</string>
	<string>UIAccelerometer</string>
	<string>UIAccessibility</string>
	<string>UIActivityIndicatorView</string>
	<string>UIActivity</string>
	<string>UIActivityItemProvider</string>
	<string>UIActivityViewController</string>
	<string>UIAlert</string>
	<string>UIApplication</string>
	<string>UIBarButtonItem</string>
	<string>UIBarItem</string>
	<string>UIBezierPath</string>
	<string>UIButton</string>
	<string>UICollectionView</string>
	<string>UICollectionViewCell</string>
	<string>UICollectionViewController</string>
	<string>UICollectionViewFlowLayout</string>
	<string>UICollectionViewLayout</string>
	<string>UICollectionViewTransitionLayout</string>
	<string>UIColor</string>
	<string>UIControl</string>
	<string>UIDataDetectors</string>
	<string>UIDatePicker</string>
	<string>UIDevice</string>
	<string>UIDocument</string>
	<string>UIDocumentInteractionController</string>
	<string>UIEvent</string>
	<string>UIFont</string>
	<string>UIFontDescriptor</string>
	<string>UIGeometry</string>
	<string>UIGestureRecognizer</string>
	<string>UIGraphics</string>
	<string>UIImage</string>
	<string>UIImagePickerController</string>
	<string>UIImageView</string>
	<string>UIInputView</string>
	<string>UIInterface</string>
	<string>UILabel</string>
	<string>UILocalNotification</string>
	<string>UILocalizedIndexedCollation</string>
	<string>UILongPressGestureRecognizer</string>
	<string>UIManagedDocument</string>
	<string>UIMenuController</string>
	<string>UIMotionEffect</string>
	<string>UINavigationBar</string>
	<string>UINavigationController</string>
	<string>UINib</string>
	<string>UINibDeclarations</string>
	<string>UINibLoading</string>
	<string>UIPageControl</string>
	<string>UIPageViewController</string>
	<string>UIPanGestureRecognizer</string>
	<string>UIPasteboard</string>
	<string>UIPickerView</string>
	<string>UIPinchGestureRecognizer</string>
	<string>UIPopoverController</string>
	<string>UIPopoverBackgroundView</string>
	<string>UIPrintError</string>
	<string>UIPrintFormatter</string>
	<string>UIPrintInfo</string>
	<string>UIPrintInteractionController</string>
	<string>UIPrintPageRenderer</string>
	<string>UIPrintPaper</string>
	<string>UIProgressView</string>
	<string>UIReferenceLibraryViewController</string>
	<string>UIRefreshControl</string>
	<string>UIResponder</string>
	<string>UIRotationGestureRecognizer</string>
	<string>UIScreen</string>
	<string>UIScreenEdgePanGestureRecognizer</string>
	<string>UIScreenMode</string>
	<string>UIScrollView</string>
	<string>UISearchBar</string>
	<string>UISearchDisplayController</string>
	<string>UISegmentedControl</string>
	<string>UISlider</string>
	<string>UISplitViewController</string>
	<string>UIStepper</string>
	<string>UIStoryboard</string>
	<string>UIStoryboardPopoverSegue</string>
	<string>UIStoryboardSegue</string>
	<string>UIStringDrawing</string>
	<string>UISwipeGestureRecognizer</string>
	<string>UISwitch</string>
	<string>UITabBar</string>
	<string>UITabBarController</string>
	<string>UITabBarItem</string>
	<string>UITableView</string>
	<string>UITableViewHeaderFooterView</string>
	<string>UITableViewCell</string>
	<string>UITableViewController</string>
	<string>UITapGestureRecognizer</string>
	<string>UITextChecker</string>
	<string>UITextField</string>
	<string>UITextInput</string>
	<string>UITextInputTraits</string>
	<string>UITextView</string>
	<string>UIToolbar</string>
	<string>UITouch</string>
	<string>UIVideoEditorController</string>
	<string>UIView</string>
	<string>UIViewController</string>
	<string>UIWebView</string>
	<string>UIWindow</string>
	<string>NSAttributedString</string>
	<string>NSLayoutConstraint</string>
	<string>NSLayoutManager</string>
	<string>NSParagraphStyle</string>
	<string>NSShadow</string>
	<string>NSStringDrawing</string>
	<string>NSText</string>
	<string>NSTextAttachment</string>
	<string>NSTextContainer</string>
	<string>NSTextStorage</string>
	<string>UIStateRestoration</string>
	<string>UIViewControllerTransitioning</string>
	<string>UIViewControllerTransitionCoordinator</string>
	<string>UIDynamicAnimator</string>
	<string>UIDynamicBehavior</string>
	<string>UIPushBehavior</string>
	<string>UISnapBehavior</string>
	<string>UIDynamicItemBehavior</string>
	<string>UIGravityBehavior</string>
	<string>UIAttachmentBehavior</string>
	<string>UICollisionBehavior</string>
</array>
</plist>
